.movie {
  display: inline-block;
  text-align: center;
}

.movie img {
  width: 200px;
  height: 300px;
  margin: 1em;
}

a {
  color: blue;
  font-weight: bold;
  text-decoration: none
}

a:hover {
  color: red;
}
